# ignore binaries
# ignore all
*
# unignore all with extension
!*.*
# unignore Makefiles
!Makefile
# unignore other .gitignore files
!.gitignore
# unignore all directories
!*/

# ignore log output
*.log

# ignore ZIP files (as likely only created for submissions)
*.zip

# ignore backup files created by Excel
~*.xlsx

# ignore .gif and .dat files
*.gif
*.dat